<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EReport.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <EReport.Properties.Settings>
            <setting name="Subject" serializeAs="String">
                <value />
            </setting>
            <setting name="To" serializeAs="String">
                <value />
            </setting>
            <setting name="CC" serializeAs="String">
                <value />
            </setting>
            <setting name="Bcc" serializeAs="String">
                <value />
            </setting>
            <setting name="Body" serializeAs="String">
                <value />
            </setting>
            <setting name="ActionTime" serializeAs="String">
                <value>8:00:00 AM</value>
            </setting>
            <setting name="Email" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="SMTPClient" serializeAs="String">
                <value>smtp.gmail.com</value>
            </setting>
            <setting name="SMTPPort" serializeAs="String">
                <value>587</value>
            </setting>
            <setting name="CheckError" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IDDInErrorLimit" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="GeneralErrorLimit" serializeAs="String">
                <value>1.0</value>
            </setting>
        </EReport.Properties.Settings>
    </userSettings>
</configuration>